$saga-syllabus-border-color: rgba(0, 0, 0, 0.87);
$name-cell-width: 141px;
$code-cell-width: 80px;
$ch-cell-width: 40px;
$ch-cell-height: 50px;
$border-width: 1px;

.saga-syllabus-item-super-container {
  position: relative;
  max-width: 280px;
}

.saga-syllabus-item-info-badge {
  position: absolute;
  right: 3px;
  top: 3px;
}

.saga-syllabus-item-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  border: $border-width solid $saga-syllabus-border-color;
  margin-left: -$border-width/2;
  margin-right: -$border-width/2;
  margin-top: -$border-width;
  margin-bottom: -$border-width/2;
  min-height: $ch-cell-height;
  max-height: $ch-cell-height;
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;

  &>div {
    display: flex;
    align-items: center;
  }

  &>div:not(:first-child) {
    justify-content: center;
  }

  .saga-syllabus-item-name {
    border-right: 0px solid $saga-syllabus-border-color;
    padding: 5px 10px 5px 2px;
    max-width: $name-cell-width;
    min-width: $name-cell-width;
  }

  .saga-syllabus-item-code {
    border-right: $border-width solid $saga-syllabus-border-color;
    min-width: $code-cell-width;
    max-width: $code-cell-width;
    padding: 5px 2px 5px 2px;
  }

  .saga-syllabus-item-ch {
    // border-right: 0px;
    min-width: $ch-cell-width;
    max-width: $ch-cell-width;
    padding: 5px 2px 5px 2px;
  }
}

.saga-subject-confirmation-cell-tooltip-margin-bottom {
  margin-left: -5px !important;
  margin-right: -5px !important;
}

.saga-syllabus-item-container-confirm-no-merge {
  background-color: red;
  color: white;
}

.saga-syllabus-item-container-confirm-merge-inner {
  background-color: yellow;
}

.saga-syllabus-item-container-confirm-merge-outer {
  background-color: purple;
  color: white;
}

.saga-syllabus-item-container-history {
  background-color: lightgreen;
  color: rgba(0, 0, 0, 0.87);
}

.saga-syllabus-popover-wrapper {
  background: white;
  max-width: 680px;

  &>button {
    width: 100%;
    text-align: left;
    margin: 0px;
    padding: 2px 10px;
  }

  .saga-syllabus-popover-menu-item {
    margin-left: 10px;
    font-size: 1rem;
  }

  .mat-button {
    border-radius: 0;
  }
}
